<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ student_name }} Information Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div class="container">
            <h2>{{ student_name }} Information Form</h2>

            <form method="post" action="/">
                <label for ="username">Username:</label><br>
                <input type="text" id="username" name="username"/><br><br>

                    <label for ="password">Password:</label><br>
                <input type="password" id="password" name="password"/><br><br>

                Gender:<br>
                <input type="radio" id="male" name="gender" value="male" />
                <label for="male">Male</label><br>
                <input type="radio" id="female" name="gender" value="female" />
                <label for="female">Female</label><br>
                <input type="radio" id="other" name="gender" value="other" />
                <label for="other">Other</label><br><br>

                <label for="memebership">Membership Level:</label><br>
                <input list="Options"id="membership" name="membership" />
                <datalist id="Options">
                    <option value="Thành viên Bạc"></option>
                    <option value="Thành viên Vàng"></option>
                    <option value="Thành viên Kim Cương"></option>
                </datalist><br><br>

                <label for="favcolor">Choose your favorite color:</label><br>
                <input type="color" id="favcolor" name="favcolor" /><br><br>

                <input type="checkbox" id="correct" name="correct" value="correct" />
                <label for="correct">Correct</label><br><br>

                <input type="submit" value="Submit" />
            </form>

            {% if submitted %}
                <div class="result">
                    <h3>Form Data Submitted:</h3>
                    <ul>
                        {% for key, value in form_data.items() %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </body>
</html>