<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{student and "Sửa" or "Thêm"}} sinh viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>{{student and "SỬA" or "THÊM"}} SINH VIÊN</h1>
    <form method="POST">
        <label>Tên: <input name="name" type="text" value="{{student.name if student else ''}}"></label><br>
        <label>Tuổi: <input name="age" type="text" value="{{student.age if student else ''}}"></label><br>
        <label>Ngành: <input name="major" type="text" value="{{student.major if student else ''}}"></label><br>
        <button type="submit">Lưu</button>
    </form>

    <a href="/">Quay lại Danh Sách</a>
</body>
</html>